colorama
asyncio
pandas
telethon
plotly
matplotlib
numpy==1.26.4
wordcloud
datetime
pillow
textblob
certifi
langdetect
pytz
nltk
tzlocal
corpora
setuptools
wheel
spacy
PyPDF2
exifread
python-docx
psutil
googletrans
